::ng-deep * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {

}

.erp-container {
  display: flex;
  height: 100vh;
  background-color: #fafafa;
  margin-left: 280px;
}

.content {
  flex: 1;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.content h1 {
  color: #326db0;
  margin-bottom: 0; 
  font-size: 37px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.controls {
  padding: 1.25rem 0;
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}

.search-bar input {
  padding: 0.75rem 2.5rem 0.75rem 0.9375rem;
  border: 0.125rem solid #326db0;
  border-radius: 0.9375rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #fafafa;
}

.search-bar input:focus {
  border-color: #224976;
}

.filter-button button,
.add-button button {
  padding: 0.75rem 1.875rem;
  border: none;
  border-radius: 0.9375rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  background: #326db0;
  color: #fafafa;
  font-weight: bold;
  min-width: calc(145px + 60px);
  display: flex;
  justify-content: center;
}

.filter-button button:hover,
.add-button button:hover {
  background: #224976;
}

.filter-actions-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

.tabela {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  background-color: #326db0;
  border-radius: 1rem;
  overflow: hidden;
}

.tabela th,
.tabela td {
  border: 1px solid white;
  text-align: center;
  padding: 12px 8px;
  font-size: 0.95rem;
  color: white;
}

.tabela th:first-child,
.tabela td:first-child {
  border-left: none;
}

.tabela th:last-child,
.tabela td:last-child {
  border-right: none;
}

.tabela thead th {
  background-color: #2f65b7;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-top: none;
}

.tabela tbody tr {
  background-color: transparent;
  box-shadow: none;
}

.tabela tbody tr:last-child td {
  border-bottom: none;
}

.tabela tbody tr:first-child td {
  border-top: 1px solid white;
}

.tabela tbody tr td {
  border-top: 1px solid white;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.actions-cell button {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 3px;
  transition: color 0.2s;
}

.actions-cell button:hover {
  color: #c0d9ed;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination .number {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #2f65b7;
  color: white;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .number:hover:not(.active) {
  background-color: #224976;
  border-color: white;
}

.pagination .number.active {
  background-color: white;
  color: #224976;
  border-color: white;
  font-weight: bold;
}

.pagination button {
  color: #326db0;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  height: 32px;
}

.pagination button:hover {
  color: #1e4a8d;
}

.botao-navegacao2 {
  font-size: 2rem;
}

.botao-navegacao {
  rotate: 180deg;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .erp-container {
    flex-direction: column;
  }

  .erp-container .content {
    padding: 10px;
  }

  .erp-container .content h1 {
    font-size: 1.5rem;
  }

  .transaction-type-selector, .filter-actions-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .btn-transaction, .btn-filters, .btn-action {
    width: 100%;
    margin-bottom: 10px;
  }

  .tabela {
    font-size: 0.8rem;
  }

  .tabela th,
  .tabela td {
    padding: 6px;
  }
}