<app-sidebar></app-sidebar>
<app-search-compass></app-search-compass>

<div class="veiculos-page-container">
  <div class="header-veiculos-content">
    <h1>Veículos</h1>
  </div>

  <div class="top-actions-bar">
    <div class="registration-buttons-row">
      <button class="manutencao-btn">Registrar Manutenção</button>
      <button class="abastecimento-btn">Registrar Abastecimento</button>
    </div>
    
    <div class="search-filter-cadastrar-row">
      <input type="text" placeholder="Buscar por nome..." class="search-input" (input)="buscar($event)" />
      <button class="filter-btn">
        Filtros
      </button>
      <button class="action-btn">Cadastrar Veículo</button>
    </div>
  </div>

  <div class="veiculo-list">
    <div class="veiculo-item-box" *ngFor="let veiculo of itensPaginados()">
      <div class="veiculo-item-header" [class.expanded]="veiculo.expandido" (click)="toggleExpandir(veiculo)">
        <span>{{ veiculo.nome }}</span>
        <ng-container *ngIf="veiculo.expandido; else fechado">
          <span class="material-symbols-rounded arrow-opened">arrow_back_2</span>
        </ng-container>
        <ng-template #fechado>
          <span class="material-symbols-rounded arrow-closed">arrow_back_2</span>
        </ng-template>
        
      </div>

      <div class="veiculo-item-details" *ngIf="veiculo.expandido">
        <div class="details-col">
          <p><strong>Placa:</strong> {{ veiculo.placa }}</p>
          <p><strong>Modelo:</strong> {{ veiculo.modelo }}</p>
          <p><strong>Capacidade:</strong> {{ veiculo.capacidade }}</p>
        </div>
        <div class="details-col">
          <p><strong>Identificação:</strong> {{ veiculo.identificacao }}</p>
          <p><strong>Ano de fabricação:</strong> {{ veiculo.anoFabricacao }}</p>
          <p><strong>Data de aquisição:</strong> {{ veiculo.dataAquisicao }}</p>
        </div>
        <div class="details-actions">
          <button class="action-icon-btn"><span class="material-symbols-rounded">history</span></button>
          <button class="action-icon-btn"><span class="material-symbols-rounded">edit</span></button>
        </div>
      </div>
      <hr class="underline">
    </div>
  </div>

  <div class="pagination">
      <button (click)="previousPage()">
        <span class="material-symbols-rounded">
          <div class="botao-navegacao2">
            arrow_back_2
          </div>
        </span>
        </button>
      <div class="number">
        <span>
          1
        </span>
      </div>
      <button (click)="nextPage()">
        <span class="material-symbols-rounded">
          <div class="botao-navegacao">
          arrow_back_2
          </div>
        </span>
      </button>
    </div>
</div>