<aside class="sidebar">
  <button (click)="goToHome()"><h1 class="logo">ERP</h1></button>

  <nav class="menu">
    <div class="menu-item">
      <button (click)="toggleAdminMenu()" [ngClass]="{ 'active': adminOpen }">Administrativo <div>▾</div></button>
      <div class="submenu" *ngIf="adminOpen" [ngClass]="{ 'ativo': adminOpen }">
        <div class="submenu-group">
          <div class="submenu-title">ALUNO</div>
          <div class="submenu-item" (click)="goToCadastroAluno()">Cadastrar Aluno</div>
        </div>
        <div class="submenu-group">
          <div class="submenu-title">ESCOLA</div>
          <div class="submenu-item" (click)="goToListagemEscolas()">Listagem de Escolas</div>
        </div>
        <div class="submenu-group">
          <div class="submenu-title">VEÍCULOS</div>
          <div class="submenu-item" (click)="goToListagemVeiculos()">Listagem de Veículos</div>
          <div class="submenu-item">Abastecimento</div>
          <div class="submenu-item">Manutenção</div>
        </div>
        <div class="submenu-group">
          <div class="submenu-title">FUNCIONÁRIOS</div>
          <div class="submenu-item" (click)="goToListagemFuncionarios()">Listagem de Funcionários</div>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <button (click)="goToggleFinanceiroMenu() "[ngClass]="{ 'active': financeiroOpen }" >Financeiro <div>▾</div></button>
      <div class="submenu" *ngIf="financeiroOpen">
        <div class="submenu-item" (click)="goToLivroCaixa()">Livro Caixa</div>
      </div>
    </div>

    <div class="menu-item">
      <button (click)="goToggleFiscalMenu()" [ngClass]="{ 'active': fiscalOpen }">Fiscal <div>▾</div></button>
      <div class="submenu" *ngIf="fiscalOpen">
        <div class="submenu-item" (click)="goToRelatoriosAlunosAtivos()">Relatorios de Alunos Ativos</div>
      </div>
    </div>

    <div class="menu-item">
      <button (click)="goToggleSistemaMenu()" [ngClass]="{ 'active': sistemaOpen }">Sistema <div>▾</div></button>
      <div class="submenu" *ngIf="sistemaOpen">
        <div class="submenu-item" (click)="goToListagemUsuarios()">Listagem de Usuários</div>
      </div>
    </div>
  </nav>

  <div class="user-footer">
    <div class="user-info">
      <span class="material-symbols-rounded">
        <div class="user-icon">
          account_circle
        </div>
      </span>
      <div>
        <div class="user-name">Valéria da Silva Santos</div>
        <div class="layout-logout">
          <a class="logout" href="#">Sair <span class="material-symbols-rounded"><div class="teste">logout</div></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</aside>