<div class="erp-container">

  <app-sidebar></app-sidebar> 
  <app-search-compass></app-search-compass>

  <main class="content">
    <h1>Relatório Alunos Ativos</h1>

    <button class="btn-gerar">Gerar Tabela</button>

    <table *ngIf="alunos.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Matrícula</th>
          <th>Curso</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.matricula }}</td>
          <td>{{ aluno.curso }}</td>
          <td>{{ aluno.status }}</td>
        </tr>
      </tbody>
    </table>
  </main>
</div>