::ng-deep * {
    margin: 0;
    padding: 0;
}

.erp-container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  margin-left: 280px;
}

.erp-container .content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.erp-container .content h1 {
  color: #326db0;
  font-size: 2.5rem;
}

.erp-container .content .btn-gerar {
  background-color: #326db0;
  color: white;
  border: none;
  padding: 0.75rem 1.875rem;
  margin: 20px 0;
  margin-top: 30px;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.erp-container .content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.erp-container .content table th,
.erp-container .content table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.erp-container .content table thead {
  background-color: #2f65b7;
  color: white;
}

@media (max-width: 768px) {
  .erp-container {
    flex-direction: column;
  }

  .erp-container .menu {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .erp-container .content {
    padding: 10px;
  }

  .erp-container .content table {
    font-size: 12px;
  }
}
